.*/
**__**
**test**
*.sh
*.txt
*.json
*.session*
*.service
logs/

!requirements.txt

# Python
__pycache__/
*.pyc

# Environment
.env

# Session & Data
*.session*
star_gifts.json

# Logs
logs/
*.log

# IDE
.idea/
.vscode/
